@import "tailwindcss";

:root {
  --background: #FFF8E9;
  --foreground: #171717;

  --background-secondary: #00760E;
  --foreground-secondary: #FFF8E9;

  /* Brand Colors */
  --primary: #00770E;

  --secondary: #EFBA43;

  --third: #FFF8E9;


  /* Navbar */
   --nav-h: 150px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);

  --color-secondary: var(--secondary);

  --color-third: var(--third);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@layer utilities {
  .container-80 {
    @apply w-[80%] mx-auto;
  }
}

body {
  background: var(--third);
  color: var(--primary);
  font-family: var(--font-sans), system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}