@import "tailwindcss";

:root {
  --background: #FFF8E9;
  --foreground: #171717;

  --background-secondary: #00760E;
  --foreground-secondary: #FFF8E9;

  /* Brand Colors */
  --primary: #00770E;
  --primary-foreground: #FFF8E9;

  --secondary: #EFBA43;
  --secondary-foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */
@layer utilities {
  .container-80 {
    @apply w-[80%] mx-auto;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), system-ui, -apple-system, "Segoe UI", Roboto, Arial, sans-serif;
}

